:root {
    --mainBgColor: #aed48c;
    --mainContainerBgColor: #ffffff;
    --primarySolidColor: #304696;
    --primaryContentColor: #cfcb9f;
    --mainTextColor: #ffffff;
    --successColor: #21bfbd;
    --failColor: #b50b30;
    --linkColor: #6b9acf;
}

body {
    background-color: var(--mainBgColor);
}

.main-container {
    width: 800px;
    height: 98vh;
    display: inline-block;
    margin-left: calc(50% - 400px);
    background-color: var(--mainContainerBgColor);
    position: relative;
}

.footer {
    width: 100%;
    height: 60px;
    text-align: center;
    /* display: inline-block; */
    color: var(--mainTextColor);
    background-color: var(--primarySolidColor);
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}

.image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 250px;
    height: 100%;
}

.header {
    width: 100%;
    display: flex;
    height: 200px;
    border: var(--primarySolidColor) solid 1px;
}

.header-text {
    color: var(--mainTextColor);
    text-align: center;
    width: 300px;
    height: 100%;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    background-color: var(--primaryContentColor);
}

.header-text h2 {
    margin: 20px 5px;
}

.message {
    width: 100%;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.success {
    background-color: var(--successColor);
}

.failure {
    background-color: var(--failColor);
}

.menu {
    width: 100%;
    height: 50px;
    display: inline-block;
    line-height: 46px;
    font-size: 20px;
    background-color: var(--primarySolidColor);
}

.menu-item {
    /* width: 150px; */
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    border: var(--linkColor) solid 2px;
    text-decoration: none;
    color: var(--mainTextColor);
}

.container {
    border: var(--primarySolidColor) solid 1px;
    border-radius: 20px;
    background-color: var(--primaryContentColor);
    display: inline-block;
    width: 80%;
    padding: 25px;
    margin: 25px 7%;
}

button {
    cursor: pointer;
}
